# -------------------------
# Python cache
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------
# Virtualenv
# -------------------------
venv/
.venv/

# -------------------------
# Runtime / app data
# -------------------------
_appdata/
appdata/

# -------------------------
# Logs
# -------------------------
*.log
logs/

# -------------------------
# Databases / backups
# -------------------------
*.db
*.sqlite
*.sqlite3
*.bak
cover/
# -------------------------
# Build / packaging
# -------------------------
build/
dist/
*.egg-info/
deb_build/
*.deb

# -------------------------
# Archives
# -------------------------
*.zip
*.tar.gz

# -------------------------
# VSCode
# -------------------------
.vscode/

# -------------------------
# OS junk
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Local user settings
# -------------------------
settings.json
















ruff-report*.txt
