# -------------------------
# Python cache
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# Virtualenv
# -------------------------
venv/
.venv/

# -------------------------
# Runtime / app data
# -------------------------
_appdata/
appdata/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Databases / backups
# -------------------------
*.db
*.sqlite
*.sqlite3
*.bak

# -------------------------
# Archives
# -------------------------
*.zip

# -------------------------
# VSCode
# -------------------------
.vscode/

# -------------------------
# OS junk
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Local user settings
# -------------------------
settings.json
