[Desktop Entry]
Categories=AudioVideo;Video;
Comment[hu_HU]=Offline film, és sorozat adatbázis
Comment=Offline movie and series database
Exec=/home/szaboger/Projects/Filmek-Adatbazis/run.sh
GenericName[hu_HU]=
GenericName=
Icon=/home/szaboger/Projects/Filmek-Adatbazis/ikonok/sajat/movies2.png
MimeType=
Name[hu_HU]=Filmek-Adatbázis
Name=Filmek-Adatbázis
NoDisplay=false
Path=/home/szaboger/Projects/Filmek-Adatbazis
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
